In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('/Users/Karan_M/Documents/STAT 441/Data Challenge 1/individual_data_train.csv')
test = pd.read_csv('/Users/Karan_M/Documents/STAT 441/Data Challenge 1/individual_data_test.csv')

In [3]:
data1 = pd.get_dummies(data, prefix = ['Workclass', 'Education', 'Marital Status','Occupation','Relationship','Race','Sex','Native Country'], 
                       columns = ['Workclass', 'Education', 'Marital Status','Occupation','Relationship','Race','Sex','Native Country'])
test1 = pd.get_dummies(test, prefix = ['Workclass', 'Education', 'Marital Status','Occupation','Relationship','Race','Sex','Native Country'], 
                       columns = ['Workclass', 'Education', 'Marital Status','Occupation','Relationship','Race','Sex','Native Country'])

In [6]:
test1['Native Country_ Holand-Netherlands'] = 0
test1.head()

,Age,Fnlwgt,Education Num,Capital Gains,Capital Loss,Hours per Week,Workclass_ ?,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,...,Native Country_ Puerto-Rico,Native Country_ Scotland,Native Country_ South,Native Country_ Taiwan,Native Country_ Thailand,Native Country_ Trinadad&Tobago,Native Country_ United-States,Native Country_ Vietnam,Native Country_ Yugoslavia,Native Country_ Holand-Netherlands
0,57,201159,9,0,0,30,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,43,142725,9,0,1887,80,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,25,74389,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,55,107308,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,23,71996,13,0,0,52,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
parvars = data1.columns.values.tolist()
testvars = data1.columns.values.tolist()
class_col = data1['Class']
y = np.array(class_col)
rest = [i for i in parvars if i not in 'Class']
X_all = data1[rest]

In [103]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X_all, y)
model = SelectFromModel(lsvc, prefit=True)
X_final = model.transform(X_all)
X_final.shape

(32561, 33)

In [110]:
Xtestdata = model.transform(test1)
Xtestdata.shape

(16281, 33)

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=0)

In [105]:
from sklearn.ensemble import GradientBoostingClassifier
classifier = GradientBoostingClassifier(random_state=0)
classifier.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [106]:
y_pred_cv = classifier.predict(X_test)

In [107]:
print('Accuracy of logistic regression classifier on test set: {:.4f}'.format(classifier.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.8633

In [108]:
classifier.fit(X_final,y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [111]:
y_pred = classifier.predict(Xtestdata)

In [112]:
submission = pd.DataFrame(y_pred, columns=['class'])
submission.head()
submission.to_csv('/Users/Karan_M/Documents/STAT 441/Data Challenge 1/submission2.csv')